<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <title>Shabab</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"style="opacity: 60%;position: relative;">
    <div class="container">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <!-- Uncomment the following lines as needed -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#activity">Activity</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#testimonial">Testimonial</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="blog.html">Services</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid  fh5co-home-banner" style="margin-top:0px;">
    <div class="card"> <img class="card-img" src="{% static 'assets/img/dsk.jpg' %}" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">BUSINESS GROWTH CONSULTANT</h2>
          <a href="https://wa.me/971563658206?text=Hi%20Shabab%20Thottathil,%20I%20would%20like%20to%20know%20more%20about%20your%20business%20consulting%20services." class="btn">
            <svg width="201" height="51" viewBox="0 0 201 51">
              <defs>
                <style>
                .cls-1 {
                  fill: none;
                  stroke-width: 1px;
                  stroke: url(#linear-gradient);
                }
              </style>
              <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#007BFF"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
          </svg>
        Contact</a> </div>
      </div>
    </div>
  </div>

  <!-- Blog content section -->
  <section class="fh5co-blog-content">
    <div class="blog-content-bckg">
      <div class="blog-content-inner">
        <div class="container-fluid">
          <h2 class="card-title">SERVICES</h2>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img1.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Business Development</h2>
              <p>Our Business Strategy Development services are designed to help companies navigate complex business environments and achieve sustainable growth. We provide comprehensive strategic planning, market analysis, and competitive positioning to ensure your business stays ahead of the curve. Our experts work closely with you to identify opportunities, mitigate risks, and implement effective strategies that drive success.</p>
              <p>By leveraging our extensive experience and industry knowledge, we help you develop a clear vision and roadmap for the future. Our customized solutions are tailored to meet your specific business needs, enabling you to make informed decisions and capitalize on emerging trends. Let us guide you through the process of transforming your business strategy to achieve long-term success.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img2.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Financial Advisory</h2>
              <p>Financial Advisory services provide expert guidance on managing your company's financial health. From financial planning and analysis to investment strategies and risk management, we offer a comprehensive suite of services to help you make sound financial decisions. Our team of seasoned advisors brings a wealth of experience in finance, accounting, and economics to support your business's financial goals.</p>
              <p>We understand the complexities of the financial landscape and work diligently to provide you with actionable insights and tailored solutions. Whether you need assistance with budgeting, forecasting, mergers and acquisitions, or capital raising, our advisors are here to help you navigate financial challenges and opportunities with confidence. Partner with us to achieve financial stability and growth.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img3.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Marketing and Branding</h2>
              <p>Our Marketing and Branding services are designed to elevate your brand and drive customer engagement. We offer a range of services including brand development, digital marketing, social media management, and content creation to help you connect with your target audience and build a strong brand presence. Our creative team works with you to develop compelling campaigns that resonate with your customers and differentiate your brand in the market.</p>
              <p>With a focus on results-driven strategies, we help you increase brand awareness, generate leads, and boost sales. Our data-driven approach ensures that your marketing efforts are optimized for maximum impact, delivering measurable results and a strong return on investment. Let us help you build a powerful brand that stands out and drives business growth.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img4.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Startup Consulting</h2>
              <p>Startup Consulting services are tailored to help new businesses get off the ground and succeed in competitive markets. We provide expert guidance on business planning, funding, product development, market entry strategies, and more. Our consultants have a deep understanding of the startup ecosystem and offer practical advice to help you navigate the challenges of starting and growing a new business.</p>
              <p>From idea validation to scaling your operations, we are here to support you every step of the way. We work with you to refine your business model, identify growth opportunities, and implement strategies that drive success. With our hands-on approach and extensive network of industry connections, we help you build a solid foundation for your startup and achieve your entrepreneurial goals.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img5.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Lead Generation</h2>
              <p>Lead Generation service is designed to connect your business with high-quality prospects, helping you expand your client base efficiently. By leveraging advanced strategies and data-driven techniques, we identify and attract potential customers who are genuinely interested in your products or services.</p>
              <p>Our goal is to deliver targeted leads that convert, boosting your sales and driving growth for your business.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img7.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>UI/UX Designing</h2>
              <p>Our UI/UX Designing service focuses on creating intuitive and engaging user experiences that keep your audience connected and satisfied. We blend creativity with functionality, crafting visually appealing designs that are easy to navigate and responsive across all devices.</p>
              <p>By understanding user behavior and business goals, we develop interfaces that not only look great but also provide a seamless experience, enhancing customer satisfaction and driving user engagement.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img8.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Website Development</h2>
              <p>Website Development service offers custom-built solutions tailored to your business needs. We create robust, scalable, and responsive websites that deliver an exceptional user experience.</p>
              <p>From front-end design to back-end functionality, our team ensures every element is crafted to perfection, optimizing performance and ensuring compatibility across all devices and browsers. Whether you need a simple informational site or a complex e-commerce platform, we turn your vision into a digital reality that drives results and supports your business growth.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img9.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Digital Marketing</h2>
              <p>comprehensive Digital Marketing services are designed to boost your online visibility and connect you with your target audience. By leveraging the latest strategies in SEO, social media marketing, content creation, and paid advertising, we help your business grow its online presence and achieve measurable results.</p>
              <p> Whether you’re looking to increase website traffic, generate leads, or build brand awareness, our customized approach ensures that your marketing efforts are aligned with your business goals, delivering the best return on investment.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img10.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Bookkeeping</h2>
              <p>Our Bookkeeping service provides accurate and reliable financial management, helping your business maintain clear and organized records. We handle everything from tracking expenses and managing invoices to reconciling accounts and preparing financial reports.</p>
              <p>By ensuring your books are up-to-date and compliant, we give you the peace of mind to focus on your core business operations. Whether you’re a small business or a growing company, our personalized approach to bookkeeping helps you stay on top of your finances and make informed decisions.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img11.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Internal auditing</h2>
              <p> Internal Auditing service provides an independent and objective evaluation of your company’s financial and operational processes. We help identify areas of risk, assess the effectiveness of internal controls, and ensure compliance with regulations and industry standards.</p>
              <p>Through detailed analysis and reporting, we provide actionable insights that support better decision-making and enhance overall organizational performance. Whether you’re looking to improve efficiency, safeguard assets, or ensure accuracy in financial reporting, our internal auditing service is tailored to meet your specific needs.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img12.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>AML Compliance</h2>
              <p> Our AML Compliance service is dedicated to helping your business stay compliant with anti-money laundering regulations and reduce the risk of financial crimes. We provide a thorough assessment of your existing processes, implement robust compliance programs, and conduct regular monitoring to ensure adherence to legal requirements.</p>
              <p>By staying ahead of regulatory changes and employing best practices, we help safeguard your business from potential risks and penalties. Our tailored approach ensures that your compliance measures are both effective and aligned with your operational needs, protecting your reputation and financial integrity.</p>
            </div>
          </div>
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img13.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
              <h2>Corporate tax registration</h2>
              <p> Corporate Tax Registration service streamlines the process of getting your business registered for tax purposes, ensuring compliance with all relevant tax laws and regulations. We guide you through each step, from preparing necessary documentation to submitting applications, making the process straightforward and stress-free.</p>
              <p>With our expertise, you can be confident that your tax registration is handled accurately and efficiently, allowing you to focus on running your business. Whether you’re a new startup or an established company, we provide personalized support to meet your specific tax registration needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog content section end -->


  <footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
        <div class="col-md-6 pr-0 pl-0 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462563.03282584815!2d54.897815637520246!3d25.075658366641427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1722663948774!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 content-us">
            <div class="contact-form" id="contact">
                <h3 class="text-uppercase">Contact me</h3>
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="8f89f3bd-9d9b-467f-867c-c2400f31aff6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                    <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                    <button style="color: #75b1f9; background: #75b1f9; background-color: #ffffff;" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copy pt-4 pb-4">
        <p><a href="" target="_blank"> &copy; shabab</a>  &nbsp;  |  &nbsp; Design by <a href="https://www.delemontechnology.com" target="_blank">delemon technology</a> &nbsp; | &nbsp;  All rights reserved</p>
    </div>
</footer>
  <!-- Scripts: jQuery, Popper.js, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Additional custom scripts -->
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>