<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <title>Shabab</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"style="opacity: 60%;position: relative;">
    <div class="container">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <!-- Uncomment the following lines as needed -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#activity">Activity</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#testimonial">Testimonial</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="blog.html">Services</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid  fh5co-home-banner" style="margin-top:0px;">
    <div class="card"> <img class="card-img" src="{% static 'assets/img/dsk.jpg' %}" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">BUSINESS GROWTH CONSULTANT</h2>
          <a href="https://wa.me/971563658206?text=Hi%20Shabab%20Thottathil,%20I%20would%20like%20to%20know%20more%20about%20your%20business%20consulting%20services." class="btn">
            <svg width="201" height="51" viewBox="0 0 201 51">
              <defs>
                <style>
                .cls-1 {
                  fill: none;
                  stroke-width: 1px;
                  stroke: url(#linear-gradient);
                }
              </style>
              <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#007BFF"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
          </svg>
        Contact</a> </div>
      </div>
    </div>
  </div>

  <!-- Blog content section -->
  <section class="fh5co-blog-content">
    <div class="blog-content-bckg">
      <div class="blog-content-inner">
        <div class="container-fluid">
          <div class="row single-blog">
            <div class="col-xl-4 col-lg-12 single-blog__img">
              <img class="card-img w-100" src="{% static 'assets/img/img10.jpg' %}" alt="">
            </div>
            <div class="col-xl-8 col-lg-12 single-blog__text">
                <h2>Bookkeeping</h2>
                <p>Our Bookkeeping service provides accurate and reliable financial management, helping your business maintain clear and organized records. We handle everything from tracking expenses and managing invoices to reconciling accounts and preparing financial reports.</p>
                <p>By ensuring your books are up-to-date and compliant, we give you the peace of mind to focus on your core business operations. Whether you’re a small business or a growing company, our personalized approach to bookkeeping helps you stay on top of your finances and make informed decisions.</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- Blog content section end -->


  <footer class="container-fluid p-0 pr-0">

    <div class="copy pt-4 pb-4">
      <p><a href="" target="_blank"> &copy; shabab</a>  &nbsp;  |  &nbsp; Design by <a href="https://www.delemontechnology.com" target="_blank">delemon technology</a> &nbsp; | &nbsp;  All rights reserved</p>
    </div>
  </footer>
  <!-- Scripts: jQuery, Popper.js, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Additional custom scripts -->
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>